
@{
    ViewBag.Title = "UserGroup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="UserGroup">
    <div class="container">
        <div class="col-sm-6 col-sm-offset-4">
            <p class="label-info" style="text-align:center;font-weight:bold;font-size:20px; height:30px;color:white">User Group Creation Window </p>
        </div>
        <div class="col-sm-6 col-sm-offset-3">
            <div class="row">

                <div id="userform">

                    <div class="form-group">
                        <div class="col-sm-4">
                            <span> User Group Id :</span>
                        </div>
                        <div class="col-sm-8">
                            <input id="txtGroupId" class="form-control" placeholder="Group Id" readonly />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4">
                            <span> Group Name :</span>
                        </div>
                        <div class="col-sm-8">
                            <input id="txtGroupName" class="form-control" placeholder="Group Name" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4">
                            <span> Group Short Name :</span>
                        </div>
                        <div class="col-sm-8">
                            <input id="txtGroupShortName" class="form-control" placeholder="Group Short Name" />
                        </div>
                    </div>

                </div>

            </div>
            <br />
            <div class="col-sm-8 col-sm-offset-4">
                <button id="btnAddNew" class="btn btn-success" type="button"> Add New</button>
                <button id="btnUpdate" class="btn btn-success" type="button" style="display:none">Update</button>
                <button id="btnCancel" class="btn btn-success" type="button" style="display:none"> Cancel</button>
                <button id="btnSave" class="btn btn-success" type="button"> Save</button>
            </div>

        </div>

    </div>
    <hr />


    <div class="col-sm-8 col-sm-offset-2">
        <div class="card">
            <div class="card-body">
                <table class="table table-hover  table-bordered" id="UserGroupTable" style="background-color:white !important;">
                    <thead>
                        <tr>
                            <th>Group Id</th>
                            <th>Group Name</th>
                            <th>Group Short Name</th>
                            <th style="width:135px !important;">Action</th>
                        </tr>
                    </thead>
                   @foreach (var item in @ViewBag.GroupInfo as List<mvcglobal.Models.ModelUser>)
                    {
                    <tr>
                        <td class="GroupId">@item.GroupId</td>
                        <td class="GroupName">@item.GroupName</td>
                        <td class="GroupShortName">@item.GroupShortName</td>

                        <td><a id="@item.GroupId" href="javascript:;" class="Edit_class btn btn-default" style="width:80px !important;">Edit</a>  <a id="@item.GroupId" href="javascript:;" class="Delete_class btn btn-danger">Delete</a></td>

                    </tr>
                    }
                </table>
            </div>
        </div>
    </div>

</div>

<script>
    $('#UserGroupTable').dataTable({});

    $('#btnAddNew').click(function () {
        var valid = this.checkValidity();
        if (valid) {
            debugger;
            event.preventDefault()
            var strGroupId = $("#txtGroupId").val();
            $.ajax({
                type: "POST",
                url: "/User/ShowGroupId",
                data: '{strGroupId:"' + strGroupId + '"}',
                contentType: "application/json;",
                datatype: "json",
                success: function (data, status) {
                    $("#txtGroupId").val(data[0]);
                    $("#txtGroupName").val("");
                    $("#txtGroupShortName").val("");
                }
            });
        }
    });

    $('#btnSave').click(function () {
        var valid = this.checkValidity();
        $("#valid").html(valid);
        if (valid) {
            debugger;
            event.preventDefault()
            var strGroupId = $("#txtGroupId").val();
            var strGroupName = $("#txtGroupName").val();
            var strGroupShortName = $("#txtGroupShortName").val();
            $.ajax({
                type: "POST",
                url: "/User/AddGroup",
                data: '{strGroupId:"' + strGroupId + '", strGroupName:"' + strGroupName + '",strGroupShortName:"' + strGroupShortName+'"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data, status) {
                    if (data == "Successful") {
                        swal("Added!", "Data Added Successfully.", "success");
                        $("#txtGroupId").val("");
                        $("#txtGroupName").val("");
                        $("#txtGroupShortName").val("");
                        window.location.href = '/User/UserGroup';
                    }
                    else {
                        swal("Something went wrong!", "error");
                    }
                }
            });
        }
    });

    $('.Edit_class').on('click', function () {
        $("#btnAddNew").hide();
        $("#btnSave").hide();
        $("#btnUpdate").show();
        $("#btnCancel").show();

        var row = $(this).closest("tr");
        GroupId = row.find(".GroupId").html();
        GroupName = row.find(".GroupName").html();
        GroupShortName = row.find(".GroupShortName").html();

        $(window).scrollTop(0);
        $("#txtGroupId").val(GroupId);
        $("#txtGroupName").val(GroupName);
        $("#txtGroupShortName").val(GroupShortName);

        $(window).scrollTop(0);
    });

    $('.Delete_class').on('click', function () {

        debugger;
        var GroupId = this.id;
        var TableName = $(this).closest('.caption').children('.title').text();
        swal({
            title: "Are you sure want to Delete?",
            text: "You will not be able to recover this file!",
            type: "warning",
            showCancelButton: true,
            confirmButtonText: "Yes",
            cancelButtonText: "No",
            closeOnConfirm: false,
            closeOnCancel: false
        }, function (isConfirm) {
            if (isConfirm) {

                $.ajax({
                    type: "POST",
                    url: "/User/DeleteGroupData",
                    data: '{GroupId:"' + GroupId + '"}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",

                    success: function (data, status) {
                        if (data == "Successful") {
                            swal("Deleted!", "Your imaginary file has been deleted.", "success");
                            window.location.href = '/User/UserGroup';
                        }
                        else {
                            swal("Something went wrong!", "error");
                        }
                    },
                });
            } else {
                swal("Cancelled", "Your file is safe :)", "error");
            }
        });
    });

    $('#btnUpdate').click(function () {
        var strGroupId = $("#txtGroupId").val();
        var strGroupName = $("#txtGroupName").val();
        var strGroupShortName = $("#txtGroupShortName").val();

        debugger;
        $.ajax
            ({
                type: "POST",
                url: "/User/UpdateGroupData",
                data: '{strGroupId:"' + strGroupId + '", strGroupName:"'+ strGroupName +'", strGroupShortName:"'+ strGroupShortName +'"}',
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (data, status) {
                    if (data == "Successful") {
                        swal("Updated!", "Your imaginary file has been Updated.", "success");

                        $("#txtGroupId").val("");
                        $("#txtGroupName").val("");
                        $("#txtGroupShortName").val("");
                        $("#btnAddNew").show();
                        $("#btnSave").show();
                        $("#btnUpdate").hide();
                        $("#btnCancel").hide();

                        window.location.href ='/User/UserGroup';

                    }
                    else {
                        swal("Something went wrong!", "error");
                    }
                }
            })
    });

    $('#btnCancel').click(function () {

        $("#txtGroupId").val("");
        $("#txtGroupName").val("");
        $("#txtGroupShortName").val("");
        $("#btnUpdate").hide();
        $("#btnCancel").hide();
        $("#btnAddNew").show();
        $("#btnSave").show();

    });

</script>
